<% include header.ejs %>
<div class="alert alert-success">您的信息已经保存。</div>
<p>谢谢您的参与，我们将在稍后联系您。</p>
<div class="media" id="media">
<img src="http://suryawechatpub.herokuapp.com/images/fly.jpg" data-src="http://suryawechatpub.herokuapp.com/images/fly.jpg">
</div>
<% include footer.ejs %>